* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

#form-container {
    height: 100vh;
    width: 100vw;
}

.form-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    height: max-content;
    width: max-content;
    border: 1px solid silver;
    border-radius: 10px;
}

.form-header {
    height: 70px;
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid silver;
}

.form-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.details {
    position: relative;
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.details label {
    margin: 5px 0;
    color: silver;
}

.details input {
    height: 40px;
    width: 100%;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 0 5px;
    outline: none;
    padding: 0 5px;
    font-size: 15px;
}

.details img {
    position: absolute;
    top: 37px;
    left: 340px;
    height: 15px;
    width: 15px;
    cursor: pointer;
    opacity: 0.4;
}

.eye-open {
    display: none;
    transition: 0.3s ease;
}

.eye-close {
    display: block;
    transition: 0.3s ease;
}

.eye-open.active {
    display: block;
}

.eye-close.active {
    display: none;
}

.details .error {
    color: red;
}

.submit-btn-container {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid silver;
}

.submit-btn-container input {
    padding: 10px 40px;
    border: 1px solid rgb(124, 124, 250);
    color: white;
    background: rgb(124, 124, 250);
    border-radius: 10px;
}

@media only screen and (max-width: 600px){
    .signup-form {
        width: 100vw;
    }
    .form-content {
        grid-template-columns: repeat(1, 1fr);
    }
}
